body {
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: .65vw;
}

nav a {
    text-decoration: none;
    color: #730099;
}

button {
    background-color: #730099;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: rgba(115, 0, 153, .50)
}





/* start quiz section */
.start-container {
    text-decoration: none;
    text-align: center;
}

.start-container h1 {
    padding-bottom: 8px;
}

.start-container p {
    font-size: small;
    font-weight: lighter;
}




/*quiz container*/
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#quiz-con {
    display: none;
}

.quiz-question {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




/*highscore html page*/
.highscore-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highscore-title {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: black;
}

.highscore-list {
    text-align: center;
    padding: 10px 10px;
    background-color: rgba(115, 0, 153, .30);
    color: black;
    font-weight: lighter;
    font-size: small;
    font-family: Helvetica, Arial, sans-serif;
}








.submit-initials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.submit-initials p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: small;
}

                       

/*results of question*/
.choice-result {
    display: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
}